* {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, white, #52eb2c);
}

h1 {
    margin-top: 40px;
    margin-bottom: 0.5rem;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
    color: #343a40;
    font-size: calc(1.725rem + 5.7vw);
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
}


.avis-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}


.avis-card {
    background-color: #eceaea;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    min-width: 250px;
    max-width: 300px;
    transition: transform 0.2s;
}

.avis-card:hover {
    transform: translateY(-5px);
}


.avis-photo img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 10px;
}


.avis-info p {
    margin: 5px 0;
}


.avis-info strong {
    display: block;
    font-size: 1em;
}


.avis-info p:last-child {
    margin-top: 10px;
    font-style: italic;
}


.star {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    line-height: 1;
}

.star-empty {
    color: #ccc;
}

.star-fill {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: gold;
    white-space: nowrap;
}



@media (max-width: 1024px) {
    .avis-card {
        flex: 1 1 calc(33.33% - 20px);
    }
}


@media (max-width: 768px) {
    .avis-card {
        flex: 1 1 calc(50% - 20px);
    }
}


@media (max-width: 480px) {
    .avis-card {
        flex: 1 1 100%;
    }
}